taro-view-core.at-article,
taro-view-core.at-article__section {
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}
taro-view-core.at-article .at-article__h1,
taro-view-core.at-article__section .at-article__h1 {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
taro-view-core.at-article taro-view-core,
taro-view-core.at-article__section taro-view-core {
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}
taro-view-core.at-article img,
taro-view-core.at-article__section img {
  max-width: 100%;
}
.at-article__content {
  padding: 1em;
}
table {
  border: solid 0.025rem #000;
  width: 100%;
  margin: 0.5em 0;
}
table th,
table td {
  border: solid 0.025rem #000;
  border-collapse: collapse;
}
pre {
  border: solid 0.025rem #808080;
  min-width: calc(100% - 1rem) !important;
}
code {
  white-space: pre-wrap !important;
  counter-reset: step;
  counter-increment: step 0;
}

.fab-area {
  position: fixed;
  right: 0.8rem;
  bottom: 0.8rem;
  z-index: 1100;
}

#rich-modal {
  position: absolute;
  z-index: 9999;
  background-color: #fff;
}

