.at-card {
  margin-top: 10px;
  margin-bottom 10px;

  .at-card__header-title {
    white-space normal
  }

  .at-avatar {
    float: right;
    margin-left: 0.5em;
  }

  img {
    max-width 100%;
  }
}
