view.at-article, view.at-article__section {
  user-select: auto;

  .at-article__h1 {
    user-select: text;
  }

  view {
    user-select: auto;
  }

  img {
    max-width: 100%;
  }
}

.at-article__content {
  padding: 1em;
}

table {
  border: solid 1px black;
  width: 100%;
  margin: 0.5em 0;
}

table th, 
table td {
  border: solid 1px black;
  border-collapse: collapse;
}

pre {
  border: solid 1px grey;
  min-width: calc(100% - 40px) !important;
}

code {
  white-space: pre-wrap !important;
  counter-reset: step;
  counter-increment: step 0;
}


// .line::before {
//  content: counter(step);
//  counter-increment: step;
//  width: 2ch;
//  margin-right: 36px;
//  margin-left: calc(-36px - 2ch);
//  display: inline-block;
//  text-align: right;
//  color: var(--vp-code-line-number-color);
// }
