.markdown-viewer img, 
.markdown-viewer image {
    max-width: 100%;
}

.markdown-viewer table {
    max-width: 100%;
    border: solid 1px black;
}

.markdown-viewer pre {
    max-width: 100%;
}

.markdown-viewer pre code {
    white-space: break-word;
}