body {
  font: 14px "Century Gothic", Futura, sans-serif;
  padding: 20px;
  box-sizing: border-box;
}

view {
  padding-left: 5px;
  user-select contain
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  border-radius: 0;
  box-shadow: none;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  text-align center
}

.game-board {
  display inline-block
  margin auto
}

.game-info {
  display block
  margin-left: 20px;

  view {
    display block
  }
}

view {
  user-select: none;
}

button {
  user-select none;
  min-width: 100px;
  height: 100px;
}
