view.at-article, view.at-article__section {
  .at-article__h1 {
    user-select: all;
    -webkit-user-select: all; /* 兼容 Safari */
  }

  .at-article__info {
    user-select all
  }

  .at-article__section {
    user-select all

    .h5-code {
      white-space normal
    }
  }

  img {
    max-width: 100%;
  }
}

.at-article__content {
  padding: 1em;
}

table, .h5-table {
  border: solid 1px black;
  width: 100%;
  margin: 0.5em 0;
}

table th, 
table td {
  border: solid 1px black;
  border-collapse: collapse;
}

pre, .h5-pre {
  border: solid 1px grey;
  min-width: calc(100% - 40px) !important;
}

code, .h5-code {
  white-space: pre-wrap !important;
  counter-reset: step;
  counter-increment: step 0;
}


// .line::before {
//  content: counter(step);
//  counter-increment: step;
//  width: 2ch;
//  margin-right: 36px;
//  margin-left: calc(-36px - 2ch);
//  display: inline-block;
//  text-align: right;
//  color: var(--vp-code-line-number-color);
// }

.at-article__section img,
.at-article__section image {
  width: 100%; /* 或者你可以设置一个特定的宽度 */
  height: auto; /* 设置高度为auto以保持宽高比 */
  object-fit: contain; /* 保持内容的宽高比 */
  aspect-ratio auto 16 / 9;

  display block;
}
