view {
  word-break: break-all;
  white-space: normal;
}

taro-view-core {
  word-break: break-all;
}

.calendar-heatmap-container {
  white-space nowrap

  view {
    white-space nowrap
  }
}

.taro__toast {
  p {
    word-wrap break-word
  }
}
